### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

### Bruh this one kills the space ....
/data/master_data.json

### OG Scripts; Damn OG Scripts. We need to keep them.
/scripts/OGScripts/*.py