name: Update Prayer Times Data

on:
  schedule:
    # This cron expression / workflow runs every 20 days at midnight (UTC I think? no idea)
    - cron: "0 0 20 * *"
  workflow_dispatch:

jobs:
  update-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.YA_ALLAH_1 }}

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Remove existing data folder
        run: rm -rf data

      - name: Run fetch script
        run: python scripts/fetch_prayer_data.py

      - name: Run manifest script
        run: python scripts/_combineToManifestJSON.py

      - name: Commit and push changes
        run: |
          git config user.name "Black00Z"
          git config user.email "12191067+Black00Z@users.noreply.github.com"
          git add .
          git commit -m "Automated update of prayer times data" || echo "No changes to commit!"
          git push origin HEAD:main
